.navconcontainer {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  // border-top: 1px solid black;
  background-color: rgb(240, 240, 240);
  position: fixed;
  bottom: 0;
  width: 100vw;
  box-sizing: border-box;

  .center{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user {
    background-image: url('../../../image/user-solid.svg');
    height: 24px;
    width: 24px;
  }

  .trophy {
    background-image: url('../../../image/trophy-solid.svg');
    height: 24px;
    width: 24px;
  }

  .search {
    background-image: url('../../../image/magnifying-glass-solid.svg');
    height: 24px;
    width: 24px;
  }

  .dumbel {
    background-image: url('../../../image/dumbbell-solid.svg');
    height: 24px;
    width: 24px;
  }

  .nav_text{
    color:rgb(27, 27, 27);
    text-decoration: none;
  }
}
